# GERAL
PRODUCTION = # ex: false

# BANCO DE DADOS
DB_HOST = ""
DB_PORT = # ex: 5432
DB_USER = ""
DB_PASSWORD = ""
DB_NAME = ""
DB_SCHEMA = ""
DB_SYNC = # ex: false

# BCRYPT
BCRYPT_SALT_ROUNDS = # Ex: 5

# JWT
ACCESS_TOKEN_SECRET_KEY = # Ex: adljbfdoigbhdfoligdfogidnfigdf
ACCESS_TOKEN_EXPIRATION_TIME = # Ex: 2  será injetado como '2h'
REFRESH_TOKEN_SECRET_KEY = # Ex: sodiufhodifughdfoiguhodfiu
REFRESH_TOKEN_EXPIRATION_TIME = # Ex: 7    será injetado como '7d'